<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SalesOrder" value="SO" />
		<add key="ARInvoice" value="invoice" />
		<add key="APInvoice" value="invoice" />
		<add key="CreditMemo" value="CRM" />
		<add key="ARPayment" value="PMT" />
		<add key="APPayment" value="PMT" />
		<add key="PurchaseOrder" value="Normal" />

		<!--Entitiy types start-->
		<add key="ESO" value="SalesOrder" />
		<add key="EINV" value="invoice" />
		<add key="ECRM" value="invoice" />
		<add key="EPAYMENT" value="Payment" />
		<add key="EPO" value="PurchaseOrder" />
		<!--end-->
		<add key="LogDirectory" value="C:\ACFileImportLOG" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>